<!-- TODO: Get rid of #/! -->
<!-- TODO: Make navbar actives have background color - fix controller's isActive function -->
<!-- TODO: Make this more responsive for mobile -->
<!-- TODO: Make site faster making images better for quick websites -->
<div class="bg">
    <img id="logo" src="/img/logo/SiteLogo.png" alt="Cacioppo Logo">
    <a href="https://www.linkedin.com/in/joseph-cacioppo-a05355135/" target="_blank">
        <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/In-White-34px-R.png" alt="LinkedIn Logo" />
    </a>
    <a href="https://github.com/jmcacioppo" target="_blank">
        <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/GitHub-Mark-Light-32px.png" alt="Github Logo"/>
    </a>
    <span></span>
    <h1 id="hometitle"><b>Joseph Cacioppo</b></h1>
    <h2 id="homesubtitle"><b>Software Developer</b></h2>
</div>

<div class="grid-container" ng-controller="NavController">
    <div class="nav-container">
        <ul class="nav-header">
            <li ng-repeat="option in navOptions" ng-click="checkActive(option)"
                ng-class="option.active ? 'active' : 'none'">
                <b><a ng-href="{{option.link}}">{{option.title}}</a></b>
            </li>
            
            <!-- <li ng-class="{ active: isActive('#!/') }">
                <b><a href="#!/">Home</a></b>
            </li>
            <li ng-class="{ active: isActive('#!/aboutme') }">
                <b><a href="#!/aboutme">About Me</a></b>
            </li>
            <li ng-class="{ active: isActive('#!/projects') }">
                <b><a href="#!/projects">Projects</a></b>
            </li>
            <li ng-class="{ active: isActive('#!/resume') }">
                <b><a href="#!/resume">Resume</a></b>
            </li> -->
        </ul>
    </div>
</div>