<div class="bg">
    <img id="logo" src="/img/logo/SiteLogo.png" alt="Cacioppo Logo">
    <a href="https://www.linkedin.com/in/joseph-cacioppo-a05355135/" target="_blank">
        <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/In-White-34px-R.png" alt="LinkedIn Logo" />
    </a>
    <a href="https://github.com/jmcacioppo" target="_blank">
        <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/GitHub-Mark-Light-32px.png" alt="Github Logo"/>
    </a>
    <span></span>
    <h1 id="hometitle"><b>Joseph Cacioppo</b></h1>
    <h2 id="homesubtitle"><b>Software Developer</b></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Joseph Cacioppo</a>
        </div>

        <div class="navbar-collapse" ng-controller="NavController">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('#!/')}"><a href="#!/">Home</a></li>
                <li ng-class="{ active: isActive('#!/aboutme')}"><a href="#!/aboutme">About Me</a></li>
                <li ng-class="{ active: isActive('#!/projects')}"><a href="#!/projects">Projects</a></li>
                <li ng-class="{ active: isActive('#!/resume')}"><a href="#!/resume">Resume</a></li>
            </ul>
        </div>
    </div>
</nav>