<h2>My Life</h2>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div ng-repeat="life in mylife" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" ng-href="#{{life.id}}" target="_self">{{life.title}}</a>
                    </h4>
                </div>
                <div id="{{life.id}}" class="panel-collapse collapse">
                    <div class="panel-body">{{life.description}}</div>
                    <img id="lifeExp" src="{{life.image1}}" alt="{{life.title}}">
                    <img id="lifeExp" src="{{life.image2}}" alt="{{life.title}}">
                </div>
            </div>
        </div>
    </div>
</div>