<div class="container" style="font-family: Computer Modern">
    <div style="text-align: center;">
        <h3><b style="font-size: 24x;">Joseph M. Cacioppo</b></h3> 
        <p>1720 SW 37th St, Gainesville, FL 32607<br>
        (305) 794-7034 | jmcacioppo@ufl.edu</p>
    </div>

    <hr>
    <h4>OBJECTIVE</h4>
    <p>Seeking a Software Developer position to use my programming, communication, and teamwork skills 
        to join a team of passionate individuals to work on meaningful software development projects</p>



    <h4>EDUCATION</h4>
    <p><b>Bachelor of Science in Computer Science</b>
    <b style="float: right">
        May 2018</b> <br>
        Minors: <b>Mathematics, Business Administration</b><br>
        University of Florida, Gainesville, FL <br>
        GPA: 3.53/4.00</p>



    <h4>TECHNICAL SKILLS</h4>
    <p><b>Computer:</b> Javascript, PHP, Python, SQL, C, C++, Git, HTML, CSS, LaTeX, Microsoft Office</p>



    <h4>PROJECT EXPERIENCE</h4>
    <p><b>Economic Data Engine</b> 
        <b style="float: right">January - April 2017</b> <br>
        Gainesville, FL</p>
    <ul>
        <li>Created a webpage that analyzes United States census data between 2012-2015 to measure economic growth in any Florida community</li>
        <li>Coordinated with 3 team members to establish clear operational specifications 
            and formulate software requirements for this project, which contained over 2,000,000 tuples in its Oracle database</li>
    </ul>

    <p><b>Dandelion</b>
        <b style="float: right">September 2016</b> <br>
        Atlanta, GA</p>
    <ul>
        <li>Utilized web development tools to create a web game called Dandelion, in which the user presses  arrow keys to fill up a board with "dandelions" </li>
        <li>Collaborated with 3 team members to complete this project at a 36-hour Hack-a-thon</li>
    </ul>



    <h4>WORK EXPERIENCE</h4>
    <p><b>Software Development Intern - PIETech</b> 
    <b style="float: right">June 2017 - present</b> <br>
        Powhatan, VA</p>
    <ul>
        <li>Completed software design and development of projects that focused on client needs and utilized the features of the Aurelia Javascript framework</li>
        <li>Interfaced with developers and business analysts to determine optimal specifications</li>
    </ul>

    <p><b>Engineering Intern - Pure Technologies </b>
        <b style="float: right">May - August 2014, 2015</b> <br>
        Miami, FL</p>
    <ul>
        <li>Supported Project Engineers in the use of electromagnetic and acoustic technology to inspect, monitor and perform condition assessment of pressure pipelines
        <li>Assisted in engineering plan review, provided ground and pipe-based assistance for pipeline inspectors, and created promotional video for new inspection processes for one of the company's tools
    </ul>



    <h4>INVOLVEMENT</h4> 
    <p><b>Catholic Gators Coalition, Gainesville, FL</b>
        <b style="float: right">April 2017 - present</b> <br>
        <b>Co-Coordinator</b></p>
    <ul>
        <li>Worked with the Treasurer to plan and set the budget for the current and following year, as well as  attended the budget hearing</li>
        <li>Directed monthly meetings to plan for future events with executive board members and the entire coalition, which contains nearly 50 student leaders</li>
    </ul>


    <p><b>Newman Club, Gainesville, FL</b>
        <b style="float:right">April 2016 - April 2017</b>  <br>
        <b>President</b></p>
    <ul>
        <li>Developed an efficient manner in which to count first-time attendees as part of new initiative to increase participation of new students in weekly "Newman club" dinners</li>
        <li>Managed budget for food and directed set up and clean up of the dinners, which averaged over 140 attendees, and gathered over 250 first-timers</li>
        <li>Directed monthly officer meetings to plan for future events with 9 other officers</li>
    </ul>
</div>