.ProjectInfoContainer {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  margin-bottom: 15px;
  width: 70%;
}

.ProjectImage {
  cursor: pointer;
  height: 350px;
  padding: 15px;
  width: 550px;
}

.ProjectTextContainer {
  display: table;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.ProjectText {
  display: table-cell;
  vertical-align: middle;
  width: 240px;
}

.ProjectTitle {
  color: #fa4349;
}

.ProjectTools {
  color: #f8f8f8;
}

.ProjectTool {
  font-size: 1.2rem;
  list-style-type: none;
  margin: 0;
}

@media all and (max-width: 1189px) {
  .ProjectInfoContainer {
    height: 600px;
  }

  .ProjectImage {
    margin: 0 auto;
  }
}
