.ProjectInfoContainer {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  margin-bottom: 15px;
  width: 70%;
}

.ProjectImage {
  cursor: pointer;
  height: 450px;
  padding: 10px;
  width: 650px;
}

.ProjectTextContainer {
  display: table;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.ProjectText {
  display: table-cell;
  vertical-align: middle;
  width: 240px;
}

.ProjectTitle {
  color: #fa4349;
}

.ProjectTools {
  color: #f8f8f8;
}

.ProjectTool {
  font-size: 1.4rem;
  list-style-type: none;
  margin: 5px;
}

@media all and (max-width: 1319px) {
  .ProjectInfoContainer {
    height: 700px;
  }

  .ProjectImageContainer {
    margin: 0 auto;
  }
}

@media all and (max-width: 978px) {
  .ProjectInfoContainer {
    height: 650px;
  }

  .ProjectImageContainer,
  .ProjectImage {
    height: 400px;
    width: 550px;
  }
}

@media all and (max-width: 811px) {
  .ProjectInfoContainer {
    height: 600px;
  }

  .ProjectImageContainer,
  .ProjectImage {
    height: 350px;
    width: 450px;
  }
}

@media all and (max-width: 668px) {
  .ProjectInfoContainer {
    height: 550px;
  }

  .ProjectImageContainer,
  .ProjectImage {
    height: 300px;
    width: 400px;
  }
}
