/*
  BLUE = #222E7A
  RED = #FA4349 
*/

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

#app {
  min-height: 100%;
  position: relative;
}

#content {
  color: #353839;
  padding-bottom: 100px;
}

#footer {
  background: #FA4349;
  bottom: 0;
  color: #F8F8F8;
  height: 60px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.mainContent {
  background-color: rgb(243, 243, 243);
  margin-bottom: -40px;
  margin-top: -20px;
}

.verticalSpacing {
  line-height: 150px;
}

.centerText {
  text-align: center;
}

.sectionTitle {
  padding: 15px;
}

.sectionText {
  font-size: 1.15em;
  margin: 0 auto;
  width: 60%;
}

.btn {
  background-color: #222E7A;
}

.panel-title {
  color: #222E7A !important;
}

.box-shadow--6dp {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}
