#headerBackground {
    background-image: url('/img/background/bluebackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    height: 85px;
    margin-left: 15px;
    width: 120px;
}

#homeTitle, #homeSubtitle {
  color: #F8F8F8;
}

#homeTitle {
  font-size: 4em;
}

#homeSubtitle {
  font-size: 2em;
}
