.homePic {
    float: right;
}

.contactInfoContainer {
    align-items: center;
    display: flex;
    float: left;
    height: 400px;
    justify-content: center;
}

.contactInfo {
    padding: 50px;
}

@media screen and (max-width: 991px) {
    .contactInfoContainer {
        height: 250px;
        float: none;
        padding: 25px;
    }
    .homePic {
        float: none;
    }
}
