.nav-container {
    background-color: #fa4349;
    margin: 0 auto;
    text-align: center;
}

.nav-header {
    background-color: #fa4349;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.nav-items {
    float: left;
}

.nav-items a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav-items a:hover,
.activeOption {
    background-color: #fdafb2;
    color: #222E7A;
    text-decoration: none;
}
