.navContainer {
  background-color: #FA4349;
  display: flex;
  height: 45px;
  justify-content: center;
  margin-bottom: -20px;
}

.navItem {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

.navItem div {
  color: #F8F8F8;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.activeOption {
  background-color: rgb(255, 146, 150);
  color: #222E7A;
  text-decoration: none;
}
