.projectInfoContainer {
  margin-bottom: 15px;
}

.projectTitle {
  color: #222E7A;
  margin: 0;
}

.projectTools {
  color: #FA4349;
  margin: 0;
}

.projectRepoButton {
  background: #222E7A;
}

.projectRepoButtonText,
.projectRepoButtonText:hover {
  color: white;
  text-decoration: none;
}

.projectImage,
.projectTextContainer {
  height: 225px;
  width: 300px;
}

.projectTextContainer {
  margin: 0 auto;
  display: table;
}

.projectText {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 1199px) {
  .projectImage,
  .projectTextContainer {
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .projectImage,
  .projectTextContainer {
    height: 300px;
    width: 550px;
  }
}

div.slide-left,
div.slide-right {
  overflow: hidden;
  width: 100%;
}

div.slide-left h3,
div.slide-left h4 {
  animation: slide-left 1s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-right button,
div.slide-right button a.projectRepoButtonText {
  animation: slide-right 1s;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.projectImage.ng-leave {
  transition: opacity ease-in-out 1s;
}

.projectImage.ng-leave.ng-leave-active {
  opacity: 0;
}

.projectImage.ng-leave {
  opacity: 1;
}
