.projectInfoContainer {
    height: 250px;
    width: 350px;
}

.projectInfo {
    vertical-align: middle;
}

.projectImage {
    opacity: 1;
}

.projectImage:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1199px) {
    .projectInfoContainer,
    .projectImage {
        height: 225px;
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .projectInfoContainer,
    .projectImage {
        height: 400px;
        width: 600px;
    }
    .projectInfo {
      font-size: 70%;
        height: 50px;
        vertical-align: top !important;
        width: 90%;
    }
}
