<section id="headerBackground">
  <img id="logo" src="/img/logo/SiteLogo.png" alt="Cacioppo Logo">

  <a href="https://www.linkedin.com/in/joseph-cacioppo-a05355135/" target="_blank">
    <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/In-White-34px-R.png" alt="LinkedIn Logo" />
  </a>

  <a href="https://github.com/jmcacioppo" target="_blank">
    <img style="float: right; margin-top: 2%; margin-right:1%;" src="/img/logo/GitHub-Mark-Light-32px.png" alt="Github Logo"/>
  </a>

  <span class="verticalSpacing"></span>
  
  <div class="centerText">
    <h1 id="headerTitle"><b>Joseph Cacioppo</b></h1>
    <h2 id="headerSubTitle"><b>Software Developer</b></h2>
  </div>

</section>
<!-- 
<div class="grid-container" ng-controller="NavController">
  <div class="nav-container">
    <ul class="nav-header">

      <li ng-repeat="option in navOptions" class="nav-items" ng-class="{ 'activeOption' : checkActive(option) }">
        <b><a ng-href="{{option.link}}">{{option.title}}</a></b>
      </li>

    </ul>
  </div>
</div> -->
