<div class="centerText" ng-controller="AboutMeController">
  
  <h1 class="sectionTitle">About Me</h1>

  <div class="sectionText">
    My name is Joseph Cacioppo, and I am a frontend developer for PIEtech, a financial planning sofware company in Powhatan, Virginia.
    I began my career after graduating from the University of Florida with a degree in Computer Science (Go Gators!).
  
    <br> <br>
    I enjoy any opportunity to build creative, innovative, and impactful software. 
    I have worked on many projects over the years, and I could not be more excited to learn and work on more. 

    <br> <br>

    Below are my technical skills, and then some pictures and explanations of things I've done in my life, so you can get to know me a little better!
  </div>

  <skills></skills>
  <my-life></my-life>

</div>
