<div class="centerText">
  
  <h1 class="sectionTitle">Who am I?</h1>

  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-3">
      <img style="width: 250px; height: 350px;" src="img/picsOfMe/prof_shot.jpg" alt="Joseph Cacioppo Picture">
    </div>

    <div class="col-md-3 sectionText">
      <ul>
        <li>Frontend Developer for PIEtech</li>
        <li>University of Florida Graduate</li>
        <li>Builder of Creative, Impactful Software</li>
        <li>
          <resume></resume>
        </li>
      </ul>
    </div>
    
    <div class="col-md-3"></div>
  </div>

</div>
