<section class="oddSectionBackground AboutMeSection" id="about-me">
  
  <h1 class="sectionTitle">Who am I?</h1>

  <div class="aboutMeContainer">
    <div class="professionalPicContainer">
      <img class="professionalPic" src="img/picsOfMe/prof_shot.jpg" alt="Joseph Cacioppo Professional Pic">
    </div>

    <div class="sectionText aboutMeList">
      <div>
        <div class="aboutMeItem">
          <img class="checkmarkIcon" src="../img/icons/checkmark.png" alt="Checkmark">
          <p class="indent"> Frontend Developer for PIEtech</p>
        </div>
        <br>
        <div class="aboutMeItem">
          <img class="checkmarkIcon" src="../img/icons/checkmark.png" alt="Checkmark">
          <p class="indent"> University of Florida Graduate</p>
        </div>
        <br>
        <div class="aboutMeItem">
          <img class="checkmarkIcon" src="../img/icons/checkmark.png" alt="Checkmark">
          <p class="indent"> Lover of sports, video games, and television</p>
        </div>
        <br>
        <div class="aboutMeItem">
          <img class="checkmarkIcon" src="../img/icons/checkmark.png" alt="Checkmark">
          <p class="indent"> Regularly angry at computer</p>
        </div>
        <br>
        <div class="aboutMeItem">
          <img class="checkmarkIcon" src="../img/icons/checkmark.png" alt="Checkmark">
          <p class="indent"> Has a resume - 
            <a target="_blank" href="../img/resume/cacioppo_resume.pdf" download>check it out</a>
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>

</section>
