.AlignItemsCenter {
  align-items: center;
}

.FlexColumn {
  flex-direction: column;
}

.FlexContainer {
  display: flex;
}

.FlexWrap {
  flex-wrap: wrap;
}

.JustifyContentCenter {
  justify-content: center;
}

.JustifyContentSpaceAround {
  justify-content: space-around;
}

.JustifyContentSpaceBetween {
  justify-content: space-between;
}
