/*
  BLUE = #222E7A
  RED = #FA4349 
*/

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.App {
  background: url("../images/blueBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 100vh;
}

.Main {
  height: 95%;
  overflow-y: scroll;
}

/* About */
.SkillsContainer {
  margin: 0 auto;
  width: 60% !important;
}

.SkillsItem {
  background: white;
  border: 1px solid rgb(94, 94, 94);
  padding: 10px;
  margin-bottom: 20px;
}

.SkillsImagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SkillsImage {
  height: 90px;
  margin: 0px 10px;
  width: 90px;
}

.box-shadow--6dp {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}

/* Projects */
.projectListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectInfoContainer {
  cursor: pointer;
  height: 250px;
  position: relative;
  width: 350px;
}

.projectImageContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.projectImageDimensions {
  height: 100%;
  width: 100%;
}

.projectTextContainer {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.projectText {
  display: table-cell;
  height: 250px;
  vertical-align: middle;
  width: 350px;
}

/* Specific Text */

.projectTitle {
  color: #222e7a;
}

.projectTools {
  color: #fa4349;
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .projectsSection {
    height: 900px;
  }
}

@media screen and (max-width: 699px) {
  .projectsSection {
    height: 1900px;
  }
  .projectInfoContainer {
    height: 300px;
    width: 500px;
  }
}

@media screen and (max-width: 515px) {
  .projectsSection {
    height: 1900px;
  }
  .projectInfoContainer {
    height: 300px;
    width: 400px;
  }
}

/* Slide Animations */

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -300%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Animation Implementations */

.exitImage {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.projectImage {
  opacity: 1;
}

.enterText {
  z-index: 1;
}

.exitText {
  z-index: -1;
}

.slide {
  overflow: hidden;
  width: 100%;
}

div.slide h3.enterHeader {
  animation: slide-left 1s;
}

div.slide h4.enterSubHeader {
  animation: slide-right 1s;
}
