.CenterText {
  text-align: center;
}

.HeaderTitle,
.HeaderSubTitle {
  color: #f8f8f8;
  margin: 15px;
  text-align: center;
}

.HeaderTitle {
  font-size: 4em;
}

.HeaderSubTitle {
  font-size: 2em;
}

.Paragraph {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
  width: 70%;
}
