.contactInfoContainer {
  margin: 0 auto;
  padding: 15px;
  width: 55%;
}

.contactMeInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton,
.submitButton:hover {
  background-color: #222E7A;
  border-radius: 5px;
  color: #F8F8F8;
  padding: 10px;
}

@media screen and (max-width: 699px) {
  .contactInfoContainer {
    width: 75%;
  }
}
