#headerBackground {
  background-image: url('/img/background/bluebackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  height: 85px;
  margin-left: 15px;
  width: 120px;
}

#headerTitle,
#headerSubTitle {
  color: #F8F8F8;
}

#headerTitle {
  font-size: 4em;
}

#headerSubTitle {
  font-size: 2em;
}

.verticalSpacing {
  line-height: 150px;
}
