/* Slide Animations */

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Enter animations */

.projectImage.ng-enter {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.projectImage.ng-enter.ng-enter-active {
  opacity: 1;
}

div.slide-left,
div.slide-right {
  overflow: hidden;
  width: 100%;
}

div.slide-left h3,
div.slide-left h4 {
  animation: slide-left 1s;
}

div.slide-right div,
div.slide-right div a.projectRepoButtonText {
  animation: slide-right 1s;
}

.repoLinkContainer {
  margin: 0 auto;
  transition: border-width 0.5s linear;
  padding: 8px;
  width: 50%;
}

.repoLinkContainer:hover {
  background: #FA4349;
}

/* Exit animations */

.projectImage.ng-leave {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}

.projectImage.ng-leave.ng-leave-active {
  opacity: 0;
}
