.projectsSection {
  height: 700px;
}

.projectTitle {
  color: #222E7A;
  margin: 0;
}

.projectTools {
  color: #FA4349;
  margin: 0;
}

.projectRepoButtonText {
  color: #FA4349;
  text-decoration: none;
}

.projectRepoButtonText:hover {
  color: white;
  text-decoration: none;
}

.projectImage,
.projectTextContainer,
.projectInfoContainer {
  height: 300px;
  width: 375px;
}

.projectTextContainer {
  margin: 0 auto;
  display: table;
}

.projectText {
  display: table-cell;
  vertical-align: middle;
}

/* Responsive */

@media screen and (max-width: 1199px) {
  .projectsSection {
    height: 600px;
  }
  .projectImage,
  .projectTextContainer,
  .projectInfoContainer {
    height: 250px;
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .projectsSection {
    height: 1900px;
  }
  .projectImage,
  .projectTextContainer,
  .projectInfoContainer {
    margin: 0 auto;
    height: 300px;
    width: 500px;
  }
}
