.projectsSection {
  height: 650px;
}

/* Containers */

.projectListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectInfoContainer {
  cursor: pointer;
  height: 250px;
  position: relative;
  width: 350px;
}

.projectImageContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.projectImageDimensions {
  height: 100%;
  width: 100%;
}

.projectTextContainer {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.projectText {
  display: table-cell;
  height: 250px;
  vertical-align: middle;
  width: 350px;
}

/* Specific Text */

.projectTitle {
  color: #222E7A;
}

.projectTools {
  color: #FA4349;
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .projectsSection {
    height: 900px;
  }
}

@media screen and (max-width: 699px) {
  .projectsSection {
    height: 1900px;
  }
  .projectInfoContainer {
    height: 300px;
    width: 500px;
  }
}

@media screen and (max-width: 515px) {
  .projectsSection {
    height: 1900px;
  }
  .projectInfoContainer {
    height: 300px;
    width: 400px;
  }
}
