.table-header-colors {
  background-color: #222E7A;
  color: #F8F8F8;
}

.skillContainer {
  margin: 0 auto;
  width: 60% !important;
}

.skill {
  background: white;
  border: 1px solid rgb(94, 94, 94);
  padding: 10px;
}

.skillImage {
  height: 90px;
  width: 90px;
}

@media screen and (max-width: 1199px) {
  .skillImage{
    height: 70px;
    width: 70px;
  }
}
