<div class="projectListContainer">
  <div class="projectInfoContainer" ng-repeat="project in projects" ng-click="goToLink(project)" 
        ng-mouseover="mouseIsOver(project)" ng-mouseleave="mouseIsGone(project)">
    
      <div class="projectImageContainer" ng-class="project.showImage ? 'projectImage' : 'exitImage'">
        <img class="projectImageDimensions" ng-src="{{project.image}}" alt="{{project.title}}">
      </div>
      
      <div class="projectTextContainer" ng-class="project.showData ? 'enterText' : 'exitText'">
        <div class="slide" ng-class="project.showData ? 'projectText' : ''">

          <h3 class="projectTitle" ng-class="project.showData ? 'enterHeader' : ''"><b>{{project.title}}</b></h3>
          <h4 class="projectTools" ng-class="project.showData ? 'enterSubHeader' : ''"><b>{{project.tools}}</b></h4>

        </div>
      </div>

  </div>
</div>
