<div class="container">
  <div ng-repeat="project in projects" ng-class="($index % 3 === 2) ? 'row' : ''">

    <div class="projectInfoContainer col-md-4">
    
      <img ng-if="!project.hideImage" class="projectImage" ng-mouseover="mouseIsOver(project)" src="{{project.image}}">
      
      <div ng-if="project.showData" class="projectTextContainer" ng-mouseleave="mouseIsGone(project)">
        <div class="projectText slide-left slide-right">
          <h3 class="projectTitle"><b>{{project.title}}</b></h3>
  
          <h4 class="projectTools"><b>{{project.tools}}</b></h4>
  
          <br>
  
          <div class="repoLinkContainer">
            <a class="projectRepoButtonText" target="_blank" href="{{project.link}}">
              Look at my repo!
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
