<section class="evenSectionBackground" ng-controller="SkillsController" id="skills">
  
  <h1 class="sectionTitle">Skills</h1>

  <div class="skillContainer" ng-repeat="skill in skills">
    
    <div class="skill box-shadow--6dp">

      <h4>{{skill.title}}</h4>

      <hr>

      <div class="row">
        <div class="col-md-2" ng-repeat="framework in skill.frameworks">
          <img class="skillImage" ng-src="{{framework.image}}" alt="{{framework.name}}">
          
          <br>
          
          {{framework.name}}

          <br> <br>
        </div>
      </div>

    </div>

    <br>

  </div>

</section>
