<section class="evenSectionBackground" ng-controller="SkillsController" id="skills">
  
  <h1 class="sectionTitle">Skills</h1>

  <div class="skillsContainer" ng-repeat="skill in skills">
    
    <div class="skillsItem box-shadow--6dp">

      <h4>{{skill.title}}</h4>

      <hr>

      <div class="skillsImagesContainer">
        <div ng-repeat="framework in skill.frameworks">

          <img class="skillsImage" ng-src="{{framework.image}}" alt="{{framework.name}}">
          <p>{{framework.name}}</p>

        </div>
      </div>

    </div>

  </div>

  <br>

</section>
