.Header {
  background: url("../../img/background/blueBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 100vh;
}

.HeaderTextContainer {
  flex-grow: 1;
}

.JCLogo {
  height: 85px;
  margin-left: 15px;
  width: 120px;
}

.SocialLogo {
  padding: 5px;
}

.HeaderTitle,
.HeaderSubTitle {
  color: #f8f8f8;
  display: table-cell;
  vertical-align: middle;
}

.HeaderTitle {
  font-size: 4em;
}

.HeaderSubTitle {
  font-size: 2em;
}

.VerticalSpacing {
  line-height: 150px;
}
