.Header {
  background: url("../images/blueBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 100vh;
}

.SocialLogo {
  padding: 5px;
}

/* TODO: Vertically center text properly */
.HeaderTextContainer {
  flex-grow: 1;
}

.HeaderTitle,
.HeaderSubTitle {
  color: #f8f8f8;
  margin: 15px;
  text-align: center;
}

.HeaderTitle {
  font-size: 4em;
}

.HeaderSubTitle {
  font-size: 2em;
}
