<div id="aboutme">
    <h2>About Me</h2>
    <p style="width: 65%; margin: 0 auto;">My name is Joseph Cacioppo and I am a software developer pursuing a Computer Science degree at the University of Florida (Go Gators!).
        I'm looking for any opportunity to build creative, innovative, and impactful projects. 
        I have worked on quite a few projects in my time in this field, and I couldn't be more excited to work on more. </p>
    <br>
    <p>Below are some of my technical skills, and then a section on my life and who I am.</p>

    <technical-skills></technical-skills>
    <my-life></my-life>
</div>
