<div id="aboutme">
    <h2>About Me</h2>
    <p style="width: 65%; margin: 0 auto;">
        I am a software developer studying Computer Science at the University of Florida (Go Gators!).
        I enjoy any opportunity to build creative, innovative, and impactful software. 
        I have worked on many projects over the years, and I could not be more excited to learn and work on more. 
    </p>
    <br>
    <p>Below are my technical skills, and then some pictures and explanations of things I've done in my life.</p>

    <technical-skills></technical-skills>
    <my-life></my-life>
</div>
