<div id="home">    
  
  <br>

  <p>
    Welcome to josephcacioppo.com! 
    Look around to learn more about who I am and what I've done.
  </p>

  <div class="row">

    <div class="col-md-6">
      <a class="homePic" href="https://github.com/jmcacioppo" target="_blank">
        <img src="../img/picsOfMe/prof_shot.jpg" width="275px" height="400px" alt="Joseph Cacioppo">
      </a>
    </div>

    <div class="col-md-6">
      <div class="contactInfoContainer">

        <div class="contactInfo">
          <img src="img/glyphicons/glyphicons-443-earphone.png" alt="Phone number:">{{phone}}
          <br> <br>
          <img src="img/glyphicons/glyphicons-11-envelope.png" alt="Email:">{{email}}
        </div>

      </div>
    </div>
  </div>
    
</div>
