<div id="home">    
    <h2>Home</h2>
    <p>
        Welcome to josephcacioppo.com! 
        Look around to learn more about who I am and what I've done.
    </p>

    <div class="row">
        <div class="col-md-6">
            <a class="homePic" href="https://github.com/jmcacioppo" target="_blank">
                <img src="../img/picsOfMe/prof_shot.jpg" width="275px" height="400px" alt="Joseph Cacioppo">
            </a>
        </div>
        <div class="col-md-6">
            <div class="contactInfoContainer">
                <div class="jumbotron contactInfo">
                    <h3>Contact Info</h3>
                    <br> 
                    <img src="img/glyphicons/glyphicons-443-earphone.png" alt="Phone number:">
                    3057947034
                    <br> <br>
                    <img src="img/glyphicons/glyphicons-11-envelope.png" alt="Email:">
                    jmcacioppo0531@gmail.com
                </div>
            </div>
        </div>
    </div>
    
</div>
