<div id="home">    
    <h2>Home</h2>
    <p>
        Welcome to josephcacioppo.com! 
        Look around to learn more about who I am and what I've done.
    </p>

    <div class="row">
        <div class="col-md-8">
            <a href="https://github.com/jmcacioppo" target="_blank">
                <img src="../img/picsOfMe/prof_shot.jpg" width="350px" height="500px" alt="Joseph Cacioppo">
            </a>
        </div>
        <div class="col-md-4">
            <div class="contactInfo">
                <div>
                    <img src="img/glyphicons/glyphicons-443-earphone.png" alt="">
                    3057947034
                    <br> <br>
                    <img src="img/glyphicons/glyphicons-11-envelope.png" alt="">
                    jmcacioppo0531@gmail.com
                </div>
            </div>
        </div>
    </div>
    
</div>
