<div id="projects">
    <h2>Projects</h2> 
    <p>Below is a list of personal projects I have completed. Click on each to check out
        its github repository!</p>

    <div class="container">
        <hr>
        <div ng-repeat="project in projects" class="row featurette">
            <div style="display: table; height:400px;" class="col-xs-3">
                <p style="display: table-cell; vertical-align:middle;">
                    <b>Title:</b> {{project.title}}
                    <br> <br>
                    <b>Used to:</b> {{project.description}}
                    <br> <br>
                    <b>Built with:</b> {{project.tools}}
                    <br> <br>
                    <b>Challenges:</b> {{project.challenges}}
                </p>
            </div>

            <div class="col-xs-9">
                <a target="_blank" href="{{project.link}}">
                    <img class="featurette-image img-fluid mx-auto" 
                    src="{{project.image}}" width="800" height="400">
                </a>
            </div>
            <hr>
        </div>
    </div>
</div>
