<div id="projects">
    <h2>Projects</h2> 
    <p>Below is a list of personal projects I have completed. Click on each to check out
        its github repository!</p>

    <hr>
    <div style="margin: 0 auto;" class="row featurette">
        <div style="display: table; height:400px;" class="col-md-3 push-md-9">
            <p style="display: table-cell; vertical-align:middle;">
                <b>Title:</b> Economic Data Engine
                <br> <br>
                <b>Used to:</b> Analyze census data to predict economic success in Florida communities
                <br> <br>
                <b>Built with:</b> HTML, CSS, Javascript (jQuery), SQL, PHP
                <br> <br>
                <b>Challenges:</b> I was very challenged
            </p>
        </div>

        <div class="col-md-9 pull-md-3">
            <a target="_blank" href="https://github.com/jmcacioppo/EconomicDataEngine.github.io">
                <img class="featurette-image img-fluid mx-auto" 
                src="../img/projects/EDE.png" width="800" height="400">
            </a>
        </div>
    </div>

    <hr>

    <div style="margin: 0 auto;" class="row featurette">
        <div style="display: table; height:400px;" class="col-md-3 push-md-9">
            <p style="display: table-cell; vertical-align:middle;">
                <b>Title:</b> Ask Madden Stuff
                <br> <br>
                <b>Used to:</b> Ask legenday football coach John Madden any question and expect a response in the form of a football play
                <br> <br>
                <b>Built with:</b> HTML, CSS, Javascript (jQuery)
                <br> <br>
                <b>Challenges:</b> I was very challenged
            </p>
        </div>

        <div class="col-md-9 pull-md-3">
            <a target="_blank" href="https://github.com/jmcacioppo/swamphacks17_askmaddenstuff">
                <img class="featurette-image img-fluid mx-auto" 
                    src="../img/projects/askmaddenstuff.png" width="800" height="400">
            </a>
        </div>
    </div>

</div>
